<header class="site-header">
	<h1 class="site-title">{{#link-to 'index'}}Ciao{{/link-to}}</h1>
	<nav class="site-nav">
		<ul>
			<li>
				{{#link-to 'users'}}Users{{/link-to}}
			</li>
		</ul>
	</nav>	
</header>

<main>
	{{outlet}}	
</main>

<footer class="site-footer">
	&copy; Tim Rourke {{current-year}}
</footer>

